*.bin
*.elf
*.hex
*.eep
*.map
*.lst

build/
*.o
*.d
*.slo
*.lo
*.lai
*.la
*.a

*.tmp
*.bak
*.swp
*.dmp

*.ino.cpp
*.ino.cpp.d
*.ino.cpp.o

# Ustawienia IDE
*.code-workspace
*.vs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.user
*.log

arduino_build_*/
arduino_cache_*/

.DS_Store
Thumbs.db

# If you use PlatformIO (optional).
.pio/
.vscode/.browse.c_cpp.db*
secrets.h
